<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--用xml文件执行SQL所需要要的依赖-->

<!--namespace:对应mapper层类的位置-->
<!--id：对应mapper层的方法名-->
<!--resultType：对应实体类的位置-->
<mapper namespace="com.wust.ems.mapper.empmapper">

    <!--条件查询-->
    <select id="list" resultType="com.wust.ems.pojo.Emp">
        select * from emp
        <!--<where>可以自动过滤多的and-->
        <where>
            <!--<if>可以做动态sql，按照前端传的数据判断执不执行-->
            <if test="name!=null and name!=''">
                <!--concat拼接字符串，防止用${}出现sql注入问题-->
               name like concat('%',#{name},'%')
            </if>
            <if test="gender!=null">
               and gender=#{gender}
            </if>
            <if test="begin!=null">
               and entrydate>=#{begin}
            </if>
            <if test="end!=null">
                and #{end}>=entrydate
            </if>
        </where>
        order by update_time asc
    </select>

    <!--批量删除-->
    <delete id="deletelist">
        delete from emp
        where id in
        <!--
        <foreach>-循环执行
        collection-集合名
        item-集合里面的每个元素名
        separator-分割符号
        open-首符号
        close-尾符号
        -->
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            <!--集合中每个元素名-->
            #{id}
        </foreach>
    </delete>

    <!--修改员工信息-->
    <update id="update">
        update emp
        <!--<set>动态sql，可以过滤多余的,-->
        <set>
        <if test="username!=null and username!=''">
            username=#{username},
        </if>
        <if test="password!=null">
            password=#{password},
        </if>
        <if test="name!=null and name!=''">
            name=#{name},
        </if>
        <if test="gender!=null">
            gender=#{gender},
        </if>
        <if test="image!=null">
            image=#{image},
        </if>
        <if test="job!=null">
            job=#{job},
        </if>
        <if test="entrydate != null">
            entrydate = #{entrydate},
        </if>
        <if test="deptId != null">
            dept_id = #{deptId},
        </if>
        update_time = #{updateTime}
        </set>
        where id=#{id}
    </update>

</mapper>